<html>
<head>
    <title>
        Norwegian vessels
    </title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
<h1>Here are a list of Norwegian vessels:</h1>
<table id="vessel" class="sortable">
    <tr>
        <th>Fartøy ID</th>
        <th>Fartøynavn</th>
        <th>Fylke</th>
        <th>Kommune nr</th>
        <th>Kommune</th>
    </tr>
    {{#vessel}}
        <tr>
            <td>{{vesselId}}</td>
            <td>{{vesselName}}</td>
            <td>{{countyNumber}}</td>
            <td>{{municipalityNumber}}</td>
            <td>{{municipalityName}}</td>
        </tr>
    {{/vessel}}
</table>
</form>


</body>

</html>